@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-ring: var(--ring);
}

:root {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);

  --primary: hsl(263.4 70% 50.4%);
  --primary-foreground: hsl(210 40% 98%);

  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);

  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);

  --destructive: hsl(0 62.8% 30.6%);

  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);

  --ring: hsl(240 4.9% 83.9%);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
  background-attachment: fixed;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  /* bg-white/5 */
  backdrop-filter: blur(16px);
  /* backdrop-blur-lg */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border-white/10 */
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  /* shadow-xl */
}